<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>

    <key>CFBundleName</key>
    <string>Clipboard</string>

    <key>CFBundleIdentifier</key>
    <string>com.jee.clipboard</string>

    <key>CFBundleExecutable</key>
    <string>Clipboard</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleVersion</key>
    <string>1.0</string>

    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>

    <key>NSPrincipalClass</key>
    <string>NSApplication</string>

    <!-- Permission -->
    <key>NSAccessibilityUsageDescription</key>
    <string>Clipboard needs accessibility to detect keyboard shortcut</string>

    <key>NSAppleEventsUsageDescription</key>
    <string>Clipboard needs permission to simulate paste</string>

</dict>
</plist>